<div data-ng-class="{completed : todo.isCompleted}">
    <small class="list-group-item-text">
		Posted on
		<span data-ng-bind="todo.created | date:'medium'"></span>
		by
		<span data-ng-bind="todo.user.displayName"></span>
	</small>
	<div class="checkbox">
      <label>
        <input type="checkbox" value="" data-ng-model="todo.isCompleted" data-ng-change="update(todo)">
        <h4 class="list-group-item-heading" data-ng-bind="todo.content"></h4>
      </label>
    </div>
	<div style="display: inline-block" ng-if="todo.dueDate">
      <label>
        <label>Due Date:</label>
        <h4 class="list-group-item-heading" data-ng-bind="todo.dueDate | date"></h4>
      </label>
    </div>
</div>
<div>
    <a data-ng-href="/#!/todos/{{todo._id}}/edit" type="button" class="btn btn-default">Edit</a>
    <button data-ng-click="remove(todo)" type="button" class="btn btn-danger">Delete</button>
</div>