<section data-ng-controller="SearchController">
	<div class="col-md-6 col-md-offset-3" style="margin-top: 10px">
		<div class="input-group">
			<input type="text" class="form-control" data-ng-model="query" placeholder="Search for...">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" data-ng-click="doSearch()">Search!</button>
			</span>
		</div>
	</div>
	<div class="result-area col-xs-12">
		<div class="sidebar">
			<facet data-ng-repeat="(key, value) in aggregations" name="key" terms="value.buckets" add-filter="addFilter(term, name)" ng-if="value.buckets.length > 0"></facet>
		</div>
		<div class="search-content">
			<div class="active-filters">
				<span class="label label-default filter" ng-repeat="filter in filters" ng-click="removeFilter(filter)"> {{filter.field + ': ' + filter.key}} <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span>
			</div>
			<result data-ng-repeat="result in results">

			</result>
		</div>
	</div>
</section>
