<div data-ng-if="terms">
    <label ng-bind="newName"></label>
    <ul>

        <li data-ng-repeat="term in terms">
            <a data-ng-click="addFilter({term: term, name: name})">{{term.key}} <i>({{term.doc_count}})</i></a>
        </li>
    </ul>
</div>
